<div class="container">
  <h2>My todos</h2>

  <!-- Todos input -->
  <form role="form" name="form" ng-submit="addTodo()" novalidate>
    <div class="row">
      <div class="input-group" ng-class="{
             'has-success': form.todo.$valid && form.todo.$dirty,
             'has-error': form.todo.$invalid && form.todo.$dirty }">

        <input name="todo" class="form-control" type="text" ng-model="todo"
               required unique placeholder="What needs to be done?">
        <span class="input-group-btn">
          <input class="btn btn-primary" type="submit" value="Add">
        </span>
      </div>
    </div>
  </form>

  <!-- Todos list -->
  <p class="form-group" ng-repeat="todo in todos">
    <input type="text" ng-model="todo" class="form-control">
  </p>
</div>
